/* reviewer_stats.css */
table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.progress-bar {
    width: 100%;
    height: 20px;
    margin: 0;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.progress-value-reviews {
    display: block;
    height: 100%;
    width: 0;
    background-color: #2980b9;
    border-radius: 5px;
}

.progress-value-ratio {
    display: block;
    height: 100%;
    width: 0;
    background-color: rgba(47, 64, 95, 0.5); /* Adjusted to 50% transparent */
    border-radius: 5px;
}
