# ignore pages build by sphinx
_build/*

# ignore other docs that are included either by checkout or symlink
doc/ros2_control
doc/ros2_control_demos
doc/ros2_controllers
doc/gazebo_ros2_control
doc/gz_ros2_control
