[submodule "doc/ros2_control"]
	path = doc/ros2_control
	url = https://github.com/ros-controls/ros2_control
[submodule "doc/ros2_controllers"]
	path = doc/ros2_controllers
	url = https://github.com/ros-controls/ros2_controllers
[submodule "doc/ros2_control_demos"]
	path = doc/ros2_control_demos
	url = https://github.com/ros-controls/ros2_control_demos
