name: "Build & Deploy Page"
on:
  workflow_dispatch:
  push:
    branches:
      - master
  schedule:
   # Run every morning to ensure component documentation is up to date on deployment
   - cron: '23 5 * * *'
  pull_request: # only runs up through build of sphinx

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - uses: actions/setup-python@v2
      with:
        python-version: '3.8'
        cache: 'pip'
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install --upgrade --requirement requirements.txt
    - name: Install doxygen and graphviz
      run: sudo apt-get install -y doxygen graphviz
    - name: Build multiversion with API
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        make multiversion-with-api
    - name: clone gh-pages branch
      uses: actions/checkout@v2
      if: github.event_name != 'pull_request'
      with:
        ref: gh-pages
        path: gh-pages
    - name: Deploy Pages
      if: ${{ success() }}
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./_build/html
